* {
  padding: 0%;
  margin: 0%;
  font-family: "Cairo";
  background-color: white;
}

.policy {
  display: block;
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  justify-content: space-between;
  text-align: justify;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
}
/* #region Navigation*/

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #fb2e01;
}

.navbar h1 {
  font-weight: 200;
  font-size: 35px;
}

.navbar img {
  width: 35px;
  margin-right: 10px;
}

.menu-icon {
  display: none;
  cursor: pointer;
  width: 25px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #845ec2;
  font-size: 14px;
}
/* #endregion*/

@media only screen and (max-width: 700px) {
  nav ul {
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right top, #845ec2, #fb2e01);
    top: 75px;
    right: 0px;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: black;
  }

  .menu-icon {
    display: block;
  }

  #menu-list {
    overflow: hidden;
    transition: 0.5s;
  }

  .row {
    flex-direction: column;
    margin: 50px 0;
  }
}
